.smallMain{
    height: 40vh;
    width: 15vw;
    background-color: #016764;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: rajdhani;
    font-style: italic;
    font-size:20px;
    color:white;
    align-items: center;
    justify-content: center;
}
.head{
    padding:10px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
}
ul{
    padding:5px;
    list-style: none;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
}
li{
    margin:3px;
}

